body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    font-size: 13px;

}


/* current lang  */

#currentflag{
    padding: 20px 0; 
    width: 160px;
    margin: 0 auto;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

#currenttitle{
    color: #666 !important;
    padding-left: 10px;
}

#currentimg{
    width: 25px;
}



/* modal with flags */


.flagmodal{
    position: relative;
    width: 40%;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    width: 160px;
    background: white;
}

.flaganchor{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.flagdiv{
    padding: 20px 0; 
    width: 80px;
    display: inline-block;
    margin: 0 auto;
    background: transparent;
}

.flagdiv:hover{
    background: #eee;
    transition: all 0.3s;
}

.flagimg{
    width: 25px;
}

.flagtitle{
    margin: 0;
    padding-top: 10px;
    color: #666 !important;
}




/* show / hide modals */

.showflags{
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}



